<button class="buttonGame">NEW GAME (VS PLAYER)</button>

<style>
    .buttonGame{
        background: #31c3bd;
        box-shadow: inset 0 -8px 0 #118c87;
        padding-left: 34px !important;
        font-family:"outfit-bold";
        border:none;
        width:460px;
        padding:25px;
        cursor: pointer;
        border-radius: 15px;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        box-sizing:border-box;
        font-size:1.2em;
        text-align:center;
        text-align: center;
        margin: auto;
        color:#192A32;
        transition:.2s;

    }
    
    .buttonGame:hover{
        background:#51d1cd;
    }
</style>